/* Navigation styles */
.logo{
    background: white;
    height: 230px;
    background-image: url("../images/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav{
    display: flex;
    background-color: black;
    padding: 20px;
}

.left, .center, .right{
    height: 50px;
    display: flex;
    justify-content: center;

}

/* Column styles */

/* Footer Styles */
